.apply-leave-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .apply-leave-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    font-size: 30px;
  }
  
  .apply-leave-container form {
    display: flex;
    flex-direction: column;
  }
  
  .apply-leave-container select,
  .apply-leave-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .apply-leave-container select:focus,
  .apply-leave-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .apply-leave-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-leave-container button:hover {
    background-color: #d0e6fe;
  }
  
  .submit-button {
    margin-top: 30px;
    width: 50%;
  }

  .apply-leave-container p {
    text-align: left;
    margin-top: 30px;
    color: #1a1c1a; 
  }

  .apply-leave-container p1 {
    text-align: center;
    margin-top: 30px;
    color: #f1393c; 
  }